@using klukk_social.Models
@model GroupViewModel
@{
	string check = "";
	if (Model.Group.OpenGroup)
	{
		 check = "checked";
	}
}

<h2 class="card postpadd">Breita hóp</h2>
@using (Html.BeginForm("GroupSettings", "Group", FormMethod.Post, new { @class="card postpadd", role = "form" }))
{
	@Html.HiddenFor(m => m.Group.Id)	
	@Html.ValidationSummary("", new { @class = "card" })
	<label for="name">Nafn hóps: </label>
	
	@Html.TextBoxFor(m => m.Group.Name, new { @class = "form-control span formwidth" })
	<label for="description" class="topmargin">Lýsing: </label>

	@Html.TextAreaFor(m => m.Group.Description, 4, 50, new { @class = "form-control span formwidth", @placeholder="Skráðu lýsingu hér..." })
	<label for="name" class="topmargin">Til þess að hafa mynd á hópnum þá setur þú inn url á myndina hér</label>
	
	@Html.TextBoxFor(m => m.Group.ProfilePic, new { @class = "form-control span formwidth", placeholder = "Url á mynd" })
	<input type="submit" value="Breita" class="btn btn-default topmargin" />
	
	<label for="opengroup">Opinn hópur </label>
	@Html.CheckBoxFor(m => m.Group.OpenGroup, new { @class = "checkbox"})
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}