@using klukk_social.Models
@using Microsoft.AspNet.Identity
@model GroupViewModel

<div class="cardgroup postpadd">
	<img src="@Model.Group.ProfilePic" alt="Profile Picture" class="profile floatleft img-responsive" />
	<h1 class="leftpaddten floatleft block">@Model.Group.Name</h1>
	<div class="floatleft block" >@Model.Group.Description</div>
	<div class="clearfix"></div>
</div>

@if (Model.MemberOfGroup || Model.Group.OpenGroup) //request group access
{
	@Html.Partial("PostGroupPartial", new Post(@Model.Group.Id))

	foreach (var post in Model.Feed)
	{
		InteractionBarViewModel userPostInfo = new InteractionBarViewModel();
		//<div> mamma mía @post.HtmlText</div>
		userPostInfo.Feed.Add(post);
		userPostInfo.IsPost = true;
		@Html.Partial("PostPartial", userPostInfo)
	}
}
else
{
	if (Model.Request == null)
	{
		<button type="button" value="@Model.Group.Id" class="btn btn-success btn-block friend-req">Sækja um Aðgang</button>
	}
	else 
	{
		<button type="button" value="@Model.Group.Id" class="btn btn-danger btn-block del-friend-req">Eyða aðgangsbeiðni</button>//eftir að útfæra jquery
	}
}
@*(Model.Request.ToUserId == Model.Person.Id)*@