@using klukk_social.Models
@using Microsoft.AspNet.Identity
@model GroupViewModel

<div class="cardgroup postpadd">
	<img src="@Model.Group.ProfilePic" alt="Profile Picture" class="profile floatleft img-responsive" />
	<h1 class="leftpaddten floatleft block groupheader">@Model.Group.Name</h1>
	<span>@Model.Group.Description</span>
	<div class="clearfix"></div>
	@if (Model.MemberOfGroup)
	{
		@Html.ActionLink("Hætta í hóp", "LeaveOpenGroup", "Group", new { groupId = Model.Group.Id }, new { @class = "btn btn-danger btn-block whitepace btn-xs friendbuttonsize" })
	}
	else if (Model.Group.OpenGroup)
	{
		@Html.ActionLink("Bæta við mína hópa", "JoinOpenGroup", "Group", new { groupId = Model.Group.Id }, new { @class = "btn btn-success btn-block whitepace btn-xs friendbuttonsize" })
	}
</div>

@if (Model.MemberOfGroup || Model.Group.OpenGroup) //request group access
{
	@Html.Partial("PostGroupPartial", new Post(@Model.Group.Id))

	foreach (var post in Model.Feed)
	{
		InteractionBarViewModel userPostInfo = new InteractionBarViewModel();
		userPostInfo.Feed.Add(post);
		userPostInfo.IsPost = true;
		userPostInfo.CurrentUser = Model.CurrentUser;
		@Html.Partial("PostPartial", userPostInfo)
	}
}
else
{
	if (Model.Request == null)
	{
		@Html.ActionLink("Sækja um aðgang", "SendGroupRequest", "Group", new { groupId = Model.Group.Id }, new { @class = "btn btn-success btn-block whitepace" })
		@*<button type="button" value="@Model.Group.Id" class="btn btn-success btn-block friend-req">Sækja um Aðgang</button>*@
	}
	else 
	{
		@Html.ActionLink("Eyða aðgangsbeiðni", "DeleteGroupRequest", "Group", new { groupId = Model.Group.Id }, new { @class = "btn btn-danger btn-block whitepace" })
		@*<button type="button" value="@Model.Group.Id" class="btn btn-danger btn-block del-friend-req">Eyða aðgangsbeiðni</button>//eftir að útfæra jquery*@
	}
}