@model klukk_social.Models.RegisterViewModel
@{
    ViewBag.Title = "Nýskrá foreldra";
}

<h2 class="card postpadd">@ViewBag.Title</h2>

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal afterspace", role = "form" }))
{
	@Html.AntiForgeryToken()
	<h4 class="card postpadd">Nýskráning á börnum fer fram inn á síðu foreldra</h4>

	<div class="card postpadd">
		@Html.ValidationSummary("", new { @class = "text-danger" })
		<div class="form-group">
			@Html.LabelFor(m => m.First, new { @class = "col-md-2 control-label" })
			<div class="col-md-10">
				@Html.TextBoxFor(m => m.First, new { @class = "form-control fullwidth" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.Middle, new { @class = "col-md-2 control-label" })
			<div class="col-md-10">
				@Html.TextBoxFor(m => m.Middle, new { @class = "form-control fullwidth" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.Last, new { @class = "col-md-2 control-label" })
			<div class="col-md-10">
				@Html.TextBoxFor(m => m.Last, new { @class = "form-control fullwidth" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
			<div class="col-md-10">
				@Html.TextBoxFor(m => m.Email, new { @class = "form-control fullwidth" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
			<div class="col-md-10">
				@Html.PasswordFor(m => m.Password, new { @class = "form-control fullwidth" })
			</div>
		</div>
		<div class="form-group">
			@Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
			<div class="col-md-10">
				@Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control fullwidth" })
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-offset-2 col-md-10">
				<input type="submit" class="btn btn-default" value="Nýskrá" />
			</div>
		</div>
	</div>
}

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}
