@using klukk_social.Services
@using Microsoft.AspNet.Identity
@using klukk_social.Models
@model klukk_social.Models.UserViewModel


@{
	UserService us = new UserService();
	UserViewModel postCommentForward = new UserViewModel();
	postCommentForward.Feed = Model.Feed;
	postCommentForward.Person = Model.Person;
}
<div class="card postpadd">
	<div class="postdialog">
		<div class="floatleft takeallwidth">
			<div class="floatleft">
				<img src='@us.GetProfileUrl(Model.Feed[0].FromUserId)' class="search imagesmall" />
				@Html.ActionLink(@us.GetFullNameById(Model.Feed[0].FromUserId), "Profile", new { userId = Model.Feed[0].FromUserId })
			</div>
			@if (User.IsInRole("Parent"))
			{
				<div class="floatleft leftpaddten">
					<span>Skrifaði á vegg --></span>
					<img src='@us.GetProfileUrl(Model.Feed[0].ToUserId)' class="search imagesmall" />
					@Html.ActionLink(@us.GetFullNameById(Model.Feed[0].ToUserId), "Profile", new { userId = Model.Feed[0].ToUserId })
				</div>
			}
		</div>
		<p>@Model.Feed[0].Text</p> @*Þarf að breyta þessu í htmlText þegar búið er að gera parseföll*@
		<time datetime="@Model.Feed[0].Date.ToString()" title="@Model.Feed[0].Date.ToString()">2 minutes ago</time> @*Hér kemur javascript*@
		@Html.Partial("StarReportEditPartial", postCommentForward)
	</div>

	@foreach (var comment in Model.Feed[0].Comments)
	{
		postCommentForward.Comment = comment;
		<div class="commentdialog">
			<img src='@us.GetProfileUrl(comment.UserId)' class="search imagesmall" />
			@Html.ActionLink(@comment.PosterName, "Profile", new { userId = comment.UserId })
			<p>@comment.Body</p>
			<time datetime="@comment.Date.ToString()" title="@Model.Feed[0].Date.ToString()">2 minutes ago</time> @*Hér kemur javascript*@
			@Html.Partial("StarReportEditPartial", postCommentForward)
		</div>

	}
	@if (!User.IsInRole("Parent"))
	{
		using (Html.BeginForm("PostComment", "Post", FormMethod.Post, new { role = "form" }))
		{
			<div class="postdialog">
				<img src='@us.GetProfileUrl(User.Identity.GetUserId())' class="search imagesmall" />
				<input name="comment" />
				<input type="hidden" name="PostId" value="@Model.Feed[0].Id" />
				<input type="submit" value="Deila" class="btn btn-default" />
			</div>
		}
	}

</div>