@using klukk_social.Services
@using Microsoft.AspNet.Identity
@using klukk_social.Models
@model klukk_social.Models.Post


@{
	UserService us = new UserService();
	InteractionBarViewModel postCommentForward = new InteractionBarViewModel(Model.FromUserId, true, Model.Id);

}
<div class="card postpadd">
	<div class="postdialog">
		<div class="floatleft takeallwidth">
			<div class="floatleft">
				<img src='@us.GetProfileUrl(Model.FromUserId)' class="search imagesmall" />
				@Html.ActionLink(@us.GetFullNameById(Model.FromUserId), "Profile", new { userId = Model.FromUserId })
			</div>
			@if (User.IsInRole("Parent"))
			{
				<div class="floatleft leftpaddten">
					<span>Skrifaði á vegg --></span>
					<img src='@us.GetProfileUrl(Model.ToUserId)' class="search imagesmall" />
					@Html.ActionLink(@us.GetFullNameById(Model.ToUserId), "Profile", new { userId = Model.ToUserId })
				</div>
			}
		</div>
		<p>@Model.Text</p> @*Þarf að breyta þessu í htmlText þegar búið er að gera parseföll*@
		<time datetime="@Model.Date.ToString()" title="@Model.Date.ToString()">2 minutes ago</time> @*Hér kemur javascript*@
		@Html.Partial("StarReportEditPartial", postCommentForward)

        <button data-id="@Model.Id" data-user="@User.Identity.GetUserId()" type="button" class="like-button" title="Click to like this post!">
            <i class="fa fa-thumbs-up"></i> Like
            |
            <span class="like-count">0</span>
        </button>
	</div>

	@foreach (var comment in Model.Comments)
	{
		postCommentForward.IsPost = false;
		postCommentForward.PostOwner = comment.UserId;
		<div class="commentdialog">
			<img src='@us.GetProfileUrl(comment.UserId)' class="search imagesmall" />
			@Html.ActionLink(@comment.PosterName, "Profile", new { userId = comment.UserId })
			<p>@comment.Body</p>
			<time datetime="@comment.Date.ToString()" title="@Model.Date.ToString()">2 minutes ago</time> @*Hér kemur javascript*@
			@Html.Partial("StarReportEditPartial", postCommentForward)
		</div>

	}
	@if (!User.IsInRole("Parent"))
	{
		using (Html.BeginForm("PostComment", "Post", FormMethod.Post, new { role = "form" }))
		{
			<div class="postdialog">
				<img src='@us.GetProfileUrl(User.Identity.GetUserId())' class="search imagesmall" />
				<input name="comment" />
				<input type="hidden" name="PostId" value="@Model.Id" />
				<input type="submit" value="Deila" class="btn btn-default" />
			</div>
		}
	}

</div>