@using klukk_social.Models
@using Microsoft.AspNet.Identity
@model UserViewModel


<div class="card postpadd">
	<img src="@Model.Person.ProfilePic" alt="Profile Picture" class="profile floatleft img-responsive" />
	<h1 class="leftpaddten floatleft">@Model.Person.FullName</h1>
	<div class="clearfix"></div>
</div>

@if (ViewBag.isFriend)
{
    <button type="button" value="@Model.Person.Id" class="btn btn-danger btn-block unfriend">Eyða vin</button>
}
<div id="friend-content">
    @if (Model.Friends || Model.Person.Id == User.Identity.GetUserId())
    {
        @Html.Partial("PostStatusPartial", new Post(@Model.Person.Id, @Model.Person.FullName))

        foreach (var post in Model.Feed)
        {
            InteractionBarViewModel userPostInfo = new InteractionBarViewModel();
            userPostInfo.Feed.Add(post);
            userPostInfo.IsPost = true;
            userPostInfo.CurrentUser = Model.CurrentUser;
            @Html.Partial("PostPartial", userPostInfo)
        }
    }
    else
    {
        if (Model.Request == null)
        {
            <button type="button" value="@Model.Person.Id" class="btn btn-success btn-block friend-req">Senda vinabeiðni</button>
        }
        else if (Model.Request.ToUserId == Model.Person.Id)
        {
            <button type="button" value="@Model.Person.Id" class="btn btn-danger btn-block del-friend-req">Eyða vinabeiðni</button>
        }
    }
</div>
