@using klukk_social.Models
@model SearchViewModel

@{
    ViewBag.Title = "Search";
}

<h2 class="card searchpadd">Search</h2>

@foreach (var user in Model.Users)
{
    <div class="card searchcard searchpadd">
        <a href='@Url.Action("Profile", "User", new {userId = user.Id}, null)'>
            <img src='@user.ProfilePic' class="search"/>
        </a>
        @Html.ActionLink(user.FirstName, "Profile", new { userId = user.Id }, new { @class = "btn btn-success btn-block whitepace" })
    </div>
}
@foreach (var group in Model.Groups)
{
	<div class="cardgroup searchcard searchpadd">
		<a href='@Url.Action("Profile", "Group", new { groupId = group.Id }, null)'>
			<img src='@group.ProfilePic' class="search" />
		</a>
		@Html.ActionLink(group.Name, "Profile", "Group", new { groupId = group.Id }, new { @class = "btn btn-success btn-block whitepace" })
		@if (!group.OpenGroup)
		{
			@Html.ActionLink("Læstur hópur", "Profile", "Group", new { groupId = group.Id }, new { @class = "btn btn-danger btn-block whitepace" })
		}
		else
		{
			@Html.ActionLink("Opinn hópur", "Profile", "Group", new { groupId = group.Id }, new { @class = "btn btn-success btn-block whitepace" })
		}
		@*<button type="button" value="@user.Id" class="btn btn-success btn-block friend-req">Senda vinabeiðni</button>*@
	</div>
}
<div class="searchcard"></div> @*Lagar staðsetningu leitarniðurstaða með ósýnilegum spjöldum*@
<div class="searchcard"></div>
<div class="searchcard"></div>