@using Microsoft.AspNet.Identity
@model klukk_social.Models.InteractionBarViewModel

@{
	bool thisChildsPost = false;
	bool parentOwnsThisChild = false;
    int count = 0;
    int id = 0;

	string childsParent = "";
	foreach (var child in Model.AllChildren) //Logic for the parent to see posts from his kids
	{
		if (Model.IsPost && child.Id == Model.Feed[0].FromUserId)
		{
			childsParent = child.ParentId;
		}
		else if(!Model.IsPost && child.Id == Model.Comment.UserId)
		{
			childsParent = child.ParentId;
		}
	}
	if (Model.IsPost)
	{
		
		thisChildsPost = Model.Feed[0].FromUserId == User.Identity.GetUserId();
		parentOwnsThisChild = childsParent == User.Identity.GetUserId();
		count = Model.Feed[0].Likes.Count;
		id = Model.Feed[0].Id;
	}
	else
	{
		thisChildsPost = Model.Comment.UserId == User.Identity.GetUserId();
		parentOwnsThisChild = childsParent == User.Identity.GetUserId();
		id = Model.Comment.Id;
	}
}

@*if Is childs post OR if is childs friend post*@
@if (!User.IsInRole("Parent"))
{
	if(count > 0)
	{
		<button type="button" data-id="@id" data-user="@User.Identity.GetUserId()" class="btn btn-default btn-xs like-button btn-warning-on" title="Klikkaðu til að gefa stjörnu!"><span class="glyphicon glyphicon-star like-count" aria-hidden="true"></span> @count</button>
	}
	else
	{
		<button type="button" data-id="@id" data-user="@User.Identity.GetUserId()" class="btn btn-default btn-xs like-button" title="Klikkaðu til að gefa stjörnu!"><span class="glyphicon glyphicon-star like-count" aria-hidden="true"></span> @count</button>
	}
}

@*if Is childs post OR Parent owns this child*@
@if (thisChildsPost || parentOwnsThisChild)
{
	<button type="button" class="btn btn-default btn-xs btn-info"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Edit</button>
	<button type="button" class="btn btn-default btn-xs btn-danger"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> Delete</button>
}
else
{@*if Is childs friend post OR if is friend post of a child we own*@
	<button type="button" class="btn btn-default btn-xs btn-danger"><span class="glyphicon glyphicon-ban-circle" aria-hidden="true"></span> Report</button>
}
