@using klukk_social.Models
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewBag.Title - My ASP.NET Application</title>
	@Styles.Render("~/Content/css")
	@Scripts.Render("~/bundles/modernizr")

</head>
<body class="splashpagebackground">
	<div class="container body-content login">
		@Html.ActionLink("KLUKK", "Index", "Home", new { area = "" }, new { @class = "maintitle" })
		@RenderBody()
		<div class="card postpadd">
			@Html.Partial("_LoginPartial", new LoginViewModel())
		</div>
		<hr class="footer" />
		<footer class="footer">
			<div class="footercontainer ">
				<span>@Html.ActionLink("Terms", "Terms")</span>
				<span>| @Html.ActionLink("Why it is safe", "WhySafe")</span>
				<span>| @Html.ActionLink("For parents", "ForPar")</span>
				<span>| @Html.ActionLink("Report bug", "Rep")</span>
			</div>
			<div class="footertext">
				<span>Mail: <a href="#">Info@klukk.is</a></span>
				<span>Telephone: <a href="#">00354XXXX-XXX</a>.</span>
				<span>&copy; @DateTime.Now.Year - KLUKK</span>
			</div>
		</footer>
	</div>

	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/bootstrap")
	@RenderSection("scripts", required: false)
</body>
</html>
