@using klukk_social.Services
@using Microsoft.AspNet.Identity
@using klukk_social.Models
@model InteractionBarViewModel


@{
	UserService us = new UserService();
	InteractionBarViewModel postCommentForward = new InteractionBarViewModel();
	postCommentForward.AllChildren = Model.AllChildren;
	postCommentForward.IsPost = true;
	postCommentForward.Feed = Model.Feed;
	Model.Post = Model.Feed[0];
	postCommentForward.Post = Model.Feed[0];
	string color = "card";
	if (Model.Post.GroupId > 0) { color = "cardgroup"; }
}
<div class="@color postpadd">
	<div class="postdialog">
		<div class="floatleft takeallwidth">
			<div class="floatleft">
				<img src='@Model.Post.FromUser.ProfilePic' class="search imagesmall" />
				@Html.ActionLink(Model.Post.FromUser.FullName, "Profile", new { userId = Model.Post.FromUserId })
			</div>
			@if (User.IsInRole("Parent"))
			{
				<div class="floatleft leftpaddten">
					<span>Skrifaði á vegg --></span>
					@if(Model.Post.GroupId > 0)
					{
						<img src='@Model.Post.Group.ProfilePic' class="search imagesmall" />
						@Html.ActionLink(@Model.Post.Group.Name, "Profile", new { userId = Model.Post.ToUserId })
					}
					else
					{
						<img src='@Model.Post.FromUser.ProfilePic' class="search imagesmall" />
						@Html.ActionLink(@Model.Post.FromUser.FullName, "Profile", new { userId = Model.Post.ToUserId })
					}
					
				</div>
			}
		</div>
		<div class="post">@Html.Raw(Model.Post.HtmlText)</div> @*Þarf að breyta þessu í htmlText þegar búið er að gera parseföll*@
		<time datetime="@Model.Post.Date.ToString()" title="@Model.Post.Date.ToString()">2 minutes ago</time> @*Hér kemur javascript*@
		@Html.Partial("StarReportEditPartial", postCommentForward)


	</div>

	@foreach (var comment in Model.Post.Comments)
	{
		InteractionBarViewModel commentForwards = new InteractionBarViewModel();
		commentForwards.AllChildren = Model.AllChildren;
		commentForwards.Comment = comment;
		<div class="commentdialog">
			<img src='@us.GetProfileUrl(comment.UserId)' class="search imagesmall" />
			@Html.ActionLink(@comment.PosterName, "Profile", new { userId = comment.UserId })
			<p>@comment.Body</p>
			<time datetime="@comment.Date.ToString()" title="@Model.Post.Date.ToString()">2 minutes ago</time> @*Hér kemur javascript*@
			@Html.Partial("StarReportEditPartial", commentForwards)
		</div>

	}
	@if (!User.IsInRole("Parent"))
	{
		using (Html.BeginForm("PostComment", "Post", FormMethod.Post, new { @class = "form-inline", role = "form" }))
		{
			<div class="postdialog">
				<img src='@us.GetProfileUrl(User.Identity.GetUserId())' class="search imagesmall" />
				<input name="comment" placeholder="Bæta við innleggi" class="form-control" />
				<input type="hidden" name="PostId" value="@Model.Post.Id" />
				<input type="submit" value="Deila" class="btn btn-default" />
			</div>
		}
	}

</div>